
.container{
	display: grid;
}

.gameBoard{
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
	justify-items: center;
	width: auto;
	height: auto;

}

.results{
	 display: grid; 
	width: 300px;
	height: 300px;
	background-color: gray;
	margin-bottom: 5px;
}

.player1{
	display: grid; 
	width: 300px;
	background-color: orange;
	margin-bottom: 5px;

}

.player2{
	display: grid;
	width: 300px;
	background-color: blue;
	margin-top: 5px;
}

.choice{
	width: 100px;
	height: 90px;
	background-color: purple;
    font-size: 60px;
	color: white;
	text-align: center;
	line-height: 95px;
}
